
@{
    ViewBag.Title = "DescribeMySelf";
}

<h2>DescribeMySelf</h2>

<table border="1">
    <tr>
        <th>Field</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Name</td>
        <td>Aman Adhikari</td>
    </tr>
    <tr>
        <td>Student ID</td>
        <td>20033035</td>
    </tr>

    <tr>
        <td>Nationality</td>
        <td>Nepali</td>
    </tr>
    <tr>
        <td>Course</td>
        <td>ICT272 Web Design and Development</td>
    </tr>
    <tr>
        <td>College</td>
        <td>King's Own Institute</td>
    </tr>
    <tr>
        <td>Job</td>
        <td>Student</td>
    </tr>
    <tr>
        <td>Assignment</td>
        <td>Week 6 Activity</td>
    </tr>
    <tr>
        <td>Country</td>
        <td>Nepal</td>
    </tr>
</table>